.select .main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 50px;
}

.items {
    padding: 5px;
    position: absolute;
    border: 1px solid black;
    cursor: pointer;
}

.item.selected {
    background-color: skyblue;
    color: white;
}